doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='google-signin-scope', content='profile email')
    meta(name='google-signin-client_id', content=GOOG.clientId)
    title= 'MNIST App'
    link(rel= 'icon' type= 'image/png' href= '/public/favicon-16x16.png' sizes= '16x16')
    link(rel= 'icon' type= 'image/png' href= '/public/favicon-32x32.png' sizes= '32x32')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(href= '/public/styles.css' rel= 'stylesheet')
    script(src= `https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react${dev ? '' : '.min'}.js`)
    script(src= `https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom${dev ? '' : '.min'}.js`)
    script(src= app)
    script(src= 'https://apis.google.com/js/platform.js' async defer)
  body
    #container
    script
      | ReactDOM.render(React.createElement(com.rodrigo_silveira.main, { api: '!{API_HOST}', icon: '/public/favicon-32x32.png', user: !{user}, isAndroid: !{isAndroid} }), document.getElementById('container'));
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-15090706-5")
    script
      | window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-15090706-5');
